@model JourJournal.Models.AddJournalViewModel;

<div class="container">
      <form method="post" action="AddJournal">
         <div class="mb-3">
          <label for="inputTitle" class="form-label"> <h2> Title </h2></label>
          <input type="text" class="form-control" id="inputTitle" asp-for="title">
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label"><h2>Descrption</h2></label>
          <textarea class="form-control" id="inputDescription" rows="10" asp-for="description"></textarea>
        </div>
        <button type="Submit" class="btn btn-xl btn-primary">Create Journal</button>
      </form>
</div>