@model JourJournal.Models.AddJournalViewModel;

<div class="container w-50 my-5">
    <div class="text-center mb-5">
    <h1 class="display-4 fw-semibold my-3"><a asp-controller="Journal" asp-action="Index">My Journal</a></h1>
    </div>
      <form method="post" action="AddJournal">
         <div class="mb-3">
          <label for="inputTitle" class="form-label text-primary"> <h1> Title </h1></label>
          <input type="text" class="form-control border border-primary" id="inputTitle" asp-for="title">
        </div>
        <div class="mb-3">
          <label for="inputDescription" class="form-label text-primary"><h1>Descrption</h1></label>
          <textarea class="form-control border border-primary" id="inputDescription" rows="10" asp-for="description"></textarea>
        </div>
                <button type="Submit" class="btn btn-lg btn-primary">Create Journal</button>
      </form>
</div>