@model IEnumerable<Basic_Fundamentals.Models.Category>;

@{
    ViewData["Title"] = "Category";
}

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Order No.
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
           <tr>  
               <td>@obj.Name</td>
               <td>@obj.DisplayOrder</td>
               <td>
                   <a class="nav-link text-dark" asp-route-Id="@obj.Id" asp-controller="Category" asp-action="Edit">Edit</a>
                   <a class="nav-link text-dark" asp-route-Id="@obj.Id" asp-controller="Category" asp-action="Delete">Delete</a>
               </td>
           </tr>
        }
       
    </tbody>
</table>

<a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Add Item</a>