<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="JourJournal | Joshua Pautanes" />
    <meta
          name="description"
          content="Simple Journal Taking built in C#, .NET and Bootstrap"
        />
     <meta name="keywords" content="JourJournal, joshjoshuap, Joshua Pautanes" />
     <meta name="author" content="Joshua Pautanes" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <title>@ViewData["Title"] - JourJournal </title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JourJournal.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>