@model Basic_Fundamentals.Models.Category;
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" placeholder="Name"/>
    </div>

     <div>
        <label asp-for="DisplayOrder">DisplayOrder</label>
        <input asp-for="DisplayOrder" placeholder="Order No."/>
    </div>

    <input type="submit" value="create"/>
    <a asp-action="Index">Back</a>
</form>

